@import "variables";
@import "buttons";
@import "navbar";
@import "hero-banner";
body {
  font-family: $font-primary;
  color: $grayish-blue;
}
h1,
h2,
h3,
h3,
h4,
h5 {
  color: $dark-blue;
}
main {
  margin-top: $nav-height;
  overflow: hidden;
  min-height: 200vh;
}

.why-to-chose {
  background-color: $very-light-gray;
}

.latest-articles {
  .card {
    border: none;
    img {
      aspect-ratio: 4/3;
    }
  }
}

footer {
  background-color: $grayish-blue;
}
