@import "variables";
@import "cards";

$card-color: #377;
$secondary: tomato;
$primary-color: blue;


@mixin base-button-props{
    padding: .5rem 1rem;
    min-width: 200px;
    border: 2px solid $card-color;
    border-radius: .5rem;
}
@mixin empty-content {
    content: "";
}

.btn{
    @include base-button-props;
    @include empty-content;
    background-color: $primary-color;
}




//1rem = 16px

.card{
    width: 100px;
    height: 100px;
    margin: 8px;
    padding: 1rem;
    background: $card-color;
}

.card1{
    width: 100px;
    height: 100px;
    margin: 8px;
    padding: 1rem;

    background: $card-color;
    flex: 1;
    opacity: 1;
    .image{

    }
}
.container{
    background: #aaa;
    height: 800px;
    ul{
        li{
            padding: .5rem;
            &.primary{
                background: #377;
            }
            &.secondary{
                background: $secondary;
            }
        }
        + a{
            @include base-button-props;
            padding: 1rem;
            background-color: aqua;
            &:hover{
                background: green;
            }
        }
    }
    
}
@media only screen and (min-width:768px){
    .container{
        max-width: 1200px;
    }
    
}


$types-of-buttons: ("primary":$primary-color, "secondary": $secondary-color, "disable": #ccc);

@each $type,$color in $types-of-buttons{

    .btn-#{$type} {
        background: $color;
    }

}

